from conf.default import *  # noqa

# All debugging activated
DEBUG = TEMPLATE_DEBUG =True

INSTALLED_APPS += [
    'debug_toolbar',
    'template_debug',
]

# Output emails to STDOUT
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'prometheus_db',
        'USER': 'user',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '5432',
    },
}

ADMINS = (('XXXXX', 'XXXX@XXXX.com'), )

MANAGERS = ADMINS

# Use a folder outside of www for logs
LOGGING = create_logging_dict(location('../logs'))

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

ALLOWED_HOSTS = ['0.0.0.0', '127.0.0.1', 'localhost']

# Don't compress assets
COMPRESS_ENABLED = False
SECRET_KEY = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'


# Google Analytics
GA_TRACKING_CODE = 'XXXXX-XXXX'
