from conf.default import *
import os

location = lambda *path: os.path.join(
    os.path.dirname(os.path.realpath(__file__)), '..', *path)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'xxxxxxxxxxxx.rds.amazonaws.com',
        'PORT': '5432',
    },
}

SECRET_KEY = 'some-long-string'

ADMINS = (
    ('name', 'email@domain.com'),
)

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

# Email Config 
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = ''
EMAIL_PORT = '25'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = True

# s3 settings
# s3direct settings
AWS_ACCESS_KEY_ID = 'xxxxxxxxxxxxxxxxxxxx'
AWS_SECRET_ACCESS_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_STORAGE_BUCKET_NAME = 'xxxxxxxxx'
S3DIRECT_REGION = 'eu-west-1'
S3DIRECT_DESTINATIONS = {
    'uploads': ('uploads', lambda u: u.is_staff,),
}

DEFAULT_FILE_STORAGE = 'storages.backends.s3boto.S3BotoStorage'
STATICFILES_LOCATION = 'static'
STATICFILES_STORAGE = 'custom_storages.StaticStorage'
STATIC_URL = "https://%s/%s/" % (AWS_S3_CUSTOM_DOMAIN, STATICFILES_LOCATION)

PREPEND_WWW = True
LOGGING = create_logging_dict(location('../../logs/prod'))
# Google Analytics
GA_TRACKING_CODE = 'XXXXX-XXX'
