from conf.default import *
import os

location = lambda *path: os.path.join(
    os.path.dirname(os.path.realpath(__file__)), '..', *path)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'xxxxxxxxxxxx.rds.amazonaws.com',
        'PORT': '5432',
    },
}

SECRET_KEY = 'some-long-string'

ADMINS = (
    ('name', 'email@domain.com'),
)

# Email Config 
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = ''
EMAIL_PORT = '25'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = True

# s3 settings
STATIC_ROOT = '/static/'
STATICFILES_DIRS = (
    'static/',
)
AWS_ACCESS_KEY_ID = 'xxxxxxxxxxxxxxxxxxxx'
AWS_SECRET_ACCESS_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_BUCKET_NAME = AWS_STORAGE_BUCKET_NAME = 'xxxxxxxxx'
AWS_QUERYSTRING_AUTH = False
AWS_PRELOAD_METADATA = True
AWS_HEADERS = {
    'Expires': 'Thu, 19 Apr 2040 20:00:00 GMT',
    'Cache-Control': 'max-age=86400',
}

AWS_S3_CUSTOM_DOMAIN = '%s.s3.amazonaws.com' % AWS_STORAGE_BUCKET_NAME
STATIC_URL = "https://%s/" % AWS_S3_CUSTOM_DOMAIN
S3DIRECT_REGION = 'eu-west-1'
S3DIRECT_DESTINATIONS = {
    'uploads': ('uploads', lambda u: u.is_staff,),
}
DEFAULT_FILE_STORAGE = 'storages.backends.s3boto.S3BotoStorage'
STATICFILES_LOCATION = 'static'
STATICFILES_STORAGE = 'custom_storages.StaticStorage'
STATIC_URL = "https://%s/%s/" % (AWS_S3_CUSTOM_DOMAIN, STATICFILES_LOCATION)

PREPEND_WWW = True
LOGGING = create_logging_dict(location('../../logs/prod'))
# Google Analytics
GA_TRACKING_CODE = 'XXXXX-XXX'
