{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "Server Error" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
        <div class="ebox">
            <div class="hexagon"><span class="icon fa-warning" id="foo"></span> </div>
            <div class="title">
                <h2>Server Error</h2>
                <span class="byline">Shields up, red alert!</span>
            </div>
            <p>The admin has been notified of this error.</p>
        </div>
        <div class="spacer"></div>
        <div class="triangle-grey"></div>
    </div>
</div>

{% endblock %}

