/* MESSAGES */

ul.messagelist {
    padding: 0;
    margin: 0;
}


ul.messagelist li {
    border-bottom: 12px none;
    color: #888;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 10px 10px 10px 25px;
}
ul.messagelist li.warning {
}

ul.messagelist li.success {
}

ul.messagelist li.error {
}
