/*********************************************************************************/
/* social Style                                                                  */
/*********************************************************************************/


#social
{
    margin: 0px auto;
	overflow: hidden;
    float: none;
    text-align: center;
	border-top: 1px solid rgba(255,255,255,0.08);
}

#social li
{
    display: inline-block;
    margin-left: 0.50em;
    text-align: center;
    text-decoration: none;
    outline: 0;
    color: #FFF;
	font-size: 2em;
}

#social li a, #social li span
{
    display: inline-block;
	font-size: 2em;
    margin-left: 0.50em;
    text-align: center;
    padding: 1em 1.5em 1em 1.5em;
    text-decoration: none;
    outline: 0;
    color: #FFF;
}

