{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "About" %}{% endblock %}
{% block keywords %}{% trans "About" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
		<div class="extra2 ">
            <div class="small-spacer"></div>

            <div class="ebox">
                <div class="hexagon">
                      <i class="icon fa-code-fork"></i>
                </div>
                <div class="title">
                    <h2>Motivation</h2>
                    <span class="byline">Reproducible, Deployable, Configurable</span>
                </div>
                <p>
                This website and it's deployment procedure, were designed to
                be as painless and reproducible as possible, due to the
                codebase being used as a base template for any personal web
                projects, as well as, maintaining flexibily with regards to cloud
                service providers.
                </p>

                <p>
                The <a href="//github.com/zsoobhan/prometheus" target="_blank" id="source-js">source code</a>
                of this website is available freely on my GitHub page. Please feel free to fork the project,
                modify it according to your requirements and credit the relevant contributors.
                </p>
            </div>

            <div class="tiny-spacer"></div>

            <div class="ebox">
                <div class="title">
                    <h2>Infrastructure</h2>
                    <span class="byline">Nginx, Supervisor, uWSGI, Virtualenv, Django, Cloud</span>
                </div>
                <p>
                The minimum requirements for the target server are
                Nginx, PostgreSQL, uWSGI and VirtualEnv being set up. The remainder
                of the configuration is done via an automated script.
                </p>
                <p>
                   The stack for this web application  is currently set up on a
                   <a href="https://www.digitalocean.com/?refcode=3b0020c434de">DigitalOcean</a>
                   droplet namespaced with a hierarchical folder structure, symlinks and a python virtual
                   environment.
                   This design decision allows multiple websites to run
                   simultaneously and independently on the same host server
                   without their requirements clashing.  The web application is
                   therefore run using uWSGI and managed using Supervisor while
                   Nginx is used to proxy to the WSGI process via a web-socket.
                   To reduce the load on the host, static files are served via
                   an Amazon S3 bucket and automatically synced during deployment.

                </p>
                <p>
                   The application is deployed via a fabric script which provisions the server,
                   migrates the database, updates the configuration files and restarts the necessary services.

                </p>
                <p>
                   For more information with regard to the status of the site, check my twitter
                   feed or GitHub repository, both whose links may be found at the bottom of the page.
                </p>
            </div>
            <div class="spacer"></div>

            <div class="triangle-grey"></div>
        </div>
</div>


{% endblock %}

