{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "Contact Form" %}{% endblock %}
{% block keywords %}{% trans "Contact" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
		<div class="ebox">
            <div class="hexagon">
                    <span class="icon fa-envelope"></span>
            </div>
            <div class="title">
                 <h2>Contact Form</h2>
            <span class="byline">
                If you would like to contact me, leave your details below and I will be in touch. 
            </span>
            </div>
            <div class="contact-form">
                <form action="." method="POST">
                    {% csrf_token %}
                    {# Include the visible fields only #}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {% if field.name == "answer" %}
                            <span class="simple-sum">{{ QUESTION }}</span>
                        {% endif %}
                        {{ field.label_tag }} {{ field }}
                        <br>
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <input id="contact-js" class="button" type="submit" value="Submit" data-target="contact-submit"/>
                </form>
            </div>
        </div>
        <div class="small-spacer"></div>
    </div>
</div>


{% endblock %}

