{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "Contact Form" %}{% endblock %}
{% block keywords %}{% trans "Contact" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
        <div class="ebox">
            <div class="hexagon">
                    <span class="icon fa-envelope"></span>
            </div>
            <div class="title">
                 <h2>Contact</h2>
            <p>
               Send an email to <b>me[@]zsoobhan.co.uk</b> or find me on social media as <b>@zsoobhan</b>.
            <p>


            </div>
        </div>
        <div class="spacer"></div>
        <div class="triangle-grey"></div>
    </div>
</div>


{% endblock %}

