{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "Personal Website | Ziyad Soobhan" %}{% endblock %}
{% block keywords %}{% trans "Homepage, Developer, Climber, Astrophysicist" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}


{% block content %}
<div class="featured-wrapper">
    <div class="extra2 ">
        <div class="small-spacer"></div>
        <div class="ebox">
            <div class="title">
                <h2>Ziyad Soobhan</h2>
                <span class="byline"><b>MSci</b> Astrophysics</span>
            </div>

            <p>
            I am a Lead Principal Engineer specialising in the construction and maintenance of software
            solutions primarily engineered in Python. I have expertise in a
            variety of tools and frameworks such as Django, Flask, and
            CherryPy, and have over {{ years }} years of commercial experience in
            building scalable web applications for numerous reputable global
            companies. I work with a variety of programming architectures and
            paradigms including microservices, domain driven design, and
            monolithic and distributed systems, with a skill-set that favours
            back-end development and TDD.
            </p>

            <p>
            My experience also extends to DevOps,
            as I have contributed to software architectures on a variety of
            cloud platforms such as AWS and DigitalOcean through the use of
            continuous integration systems (e.g. Jenkins and CircleCI) as well
            as more traditional, bare-metal stacks.
            </p>

            <p>
            I have led various highly specialised teams and have experience in
            communicating with all levels of stakeholders.
            I enjoy working as part of a team, mentoring juniors, and have a firm belief that
            code-reviews and coherent teamwork is integral to creating a
            healthy work environment conducive to successful and productive
            projects.
            </p>

            <p>
            I am a native English speaker (with British Passport) and fluent in French.
            I have a passion for rock climbing, enjoy cooking, as well as photography.
            </p>


            <div class="small-spacer"></div>
            <div class="hexagon">
                    <span class="icon fa-code"></span>
            </div>

            <div class="triangle-grey"></div>

        </div>
    </div>
</div>

{% endblock %}

