{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "About" %}{% endblock %}
{% block keywords %}{% trans "About, Github, Source Code" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
        <div class="ebox">
            <div class="hexagon"><span class="icon fa-wrench"></span> </div>
            <div class="title">
                <h2>Infrastructure</h2>
                <span class="byline">supervisor, nginx, virtualenv, fabric</span>
            </div>


            <p>
            This site currently runs on a <a href="https://www.digitalocean.com/?refcode=3b0020c434de">DigitalOcean</a>
            droplet namespaced with a virtualenv. The codebase is deployed via a fabric script which
            provisions the server, migrates the database, updates the configuration files and
            restarts the necessary services. Until I have more time to update this section,
            more information can be found from the source code on GitHub.
            </p>
            <a id="source-code-button-js" href="//github.com/zsoobhan/prometheus" class="button" target="_blank" title="Source Code">Source Code</a>
        </div>
        <div class="spacer"></div>
        <div class="triangle-grey"></div>
    </div>
</div>

{% endblock %}

