{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ziyad Soobhan" %}{% endblock %}
{% block description %}{% trans "Resume" %}{% endblock %}
{% block keywords %}{% trans "Resume, CV, Curriculum Vitae" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
    <div class="extra2 ">
        <div class="small-spacer"></div>

        <div class="ebox">
            <div class="hexagon">
                <a href="{% url 'resume' %}" title="Resume" id="resume-js" data-target="icon-resume-pdf"><i class="icon fa-file-text-o"></i>
                </a>
            </div>
            <div class="title">
                <h2>Resume</h2>
                <span class="byline">Follow the link below to download my resume.</span>
            </div>
            <a href="{% url 'resume' %}" title="Resume" id="resume-js" data-target="resume-pdf" class="button" >Download CV</a>
        </div>

        <div class="spacer"></div>

        <div class="triangle-grey"></div>
    </div>
</div>


{% endblock %}

