{% load static from staticfiles %}
<div class="container">
<div class="panel-footer">
  <div >
    
  <a href="https://github.com/zsoobhan/" target="_blank" onClick="ga('send', 'event', 'footer', 'click', 'github');">
    <img src="{% static "images/githubmark.png" %}" alt="github profile" style="width:30px;"/>
  </a>
  <a href="https://github.com/zsoobhan/resume/blob/master/resume.pdf?raw=true" target="_blank" onClick="ga('send', 'event', 'footer', 'click', 'resume');">
    <img src="{% static "images/resume-icon.png" %}" alt="resume" style="width:30px;"/>
  </a>
  <a href="https://twitter.com/zsoobhan" target="_blank" onClick="ga('send', 'event', 'footer', 'click', 'twitter');">
    <img src="{% static "images/twitter-icon.png" %}" alt="twitter" style="width:33px;"/>
  </a>
  </div>
  </div>
</div>
