<div class="menu-wrapper">
		<div class="menu">
			<ul>
                <li><a href="{% url 'home' %}" accesskey="1" title="">Homepage</a></li>
                <li><a href="{% url 'contact' %}" accesskey="2" title="">Contact</a></li>
                <li><a href="{% url 'infrastructure' %}" accesskey="3" title="">Infrastructure</a></li>
                <li><a href="{% url 'blog:blog-entry-list-view' %}" accesskey="4" title="">Blog</a></li>
                <li><a href="https://github.com/zsoobhan/resume/blob/master/resume.pdf?raw=true" accesskey="5" id="resume-js" data-target="resume" title="Resume">Resume</a> </li>
			</ul>
		</div>
</div>
