<div class="menu-wrapper">
		<div class="menu">
			<ul>
                <li><a href="{% url 'home' %}" accesskey="1" title="Home">Homepage</a></li>
                <li><a href="{% url 'contact' %}" accesskey="3" title="Contact">Contact</a></li>
                <li><a href="{% url 'resume' %}" accesskey="3" title="resume" id="resume-js" data-target="resume" >Resume</a></li>
                <li><a href="{% url 'blog:blog-entry-list-view' %}" accesskey="4" title="">Blog</a></li>
			</ul>
		</div>
</div>
