{% load static from staticfiles %}
<div id="social" class="container-fluid">
    <li>
        <a href="https://github.com/zsoobhan/" target="_blank" id="github-social"><i class="icon icon-github"></i></a>
    </li>

    <li>
        <a href="https://github.com/zsoobhan/resume/blob/master/resume.pdf?raw=true" target="_blank" id="resume-social"><i class="icon icon-file-alt"></i>
    </li></a>

    <li>
        <a href="https://twitter.com/zsoobhan" target="_blank" id="twitter-social"><i class="icon icon-twitter"></i></a>
    </li>
</div>
