{% load static from staticfiles %}
<div class="social">
    <div class="social-wrapper">
        <ul>
            <li>
            <a href="https://github.com/zsoobhan/" target="_blank" class="social-icon" data-target="github" title="Github"><i class="icon fa-github"></i></a>
            </li>

            <li>
            <a href="http://stackoverflow.com/users/2299951/zsoobhan" target="_blank" class="social-icon" data-target="stackoverflow" title="StackOverflow"><i class="icon fa-stack-overflow"></i></a>
            </li>

            <li>
            <a href="https://twitter.com/zsoobhan" target="_blank" class="social-icon" data-target="twitter" title="Twitter"><i class="icon fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>
