{% load static from staticfiles %}
<div class="social-wrapper">
    <ul> 
        <li>
        <a href="https://github.com/zsoobhan/" id="github-social" target="_blank" class="social-icon" data-target="github"><i class="icon fa-github"></i></a>
        </li>

        <li>
        <a href="https://github.com/zsoobhan/resume/blob/master/resume.pdf?raw=true" id="resume-social" target="_blank" class="social-icon" data-target="resume"><i class="icon fa-file-text"></i></a>
        </li>

        <li>
        <a href="https://twitter.com/zsoobhan" target="_blank" id="twitter-social" class="social-icon" data-target="twitter"><i class="icon fa-twitter"></i></a>
        </li>
    </ul>
</div>
